body {
    background-image: url("../images/stardust/stardust.png");
}

nav {
    max-width: 920px;
}

.name {
    color: #ffffff;
    background-color: #4aaaa5;
    margin-left: -20px;
}

ul {
    margin-right: -20px;
}

.main {
    max-width: 960px;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    /* overflow: auto; */
}

h2 {
    color: #4aaaa5;
    font-size: 24px;
}

img {
    float: left;
    width: 320px;
    height: auto;
}

button {
    margin-bottom: 10px;
}

footer {
    color: #ffffff;
    background-color: #666666;
    z-index: -10;
}